body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

header {
  background: orange;
}

h1 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 50px;
}

p {
  margin: 0;
  color: #000;
  text-align: center;
  font-size: 20px;
}

.banner img{
  width: 100%;
}

.linha {
  display: flex;
}

.linha div img{
    width: 100%;
}

.linha div{
    padding: 10px;
}

.linha div:hover{
    opacity:0.8;
}
.linha div .nome{
    margin: 0;
    font-size: 20px;
}

.linha div .preco{
    margin: 0;
    font-size: 18px;
    color: #000;
}

@media (max-width: 800px) {
  .linha {
    display: block;
  }
  .banner img{
    display:none;
  }
}
